.App {
  width: 100%;
  height: auto;
  text-align: center;
}

.SRechartsBlock {
  height: 500px;
}

.SRechartsFood {
  position: absolute;
  margin-left: 100px;
  width: 40%;
  height: 500px;
}

.SRechartsShop {
  position: absolute;
  right: 5%;
  width: 40%;
  height: 500px;
}

.restaurants {
  margin-bottom: 16;
}